/* Custom Styles */


/* The switch - the box around the slider */

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}


/* Hide default HTML checkbox */

.switch input {
    display: none;
}


/* The slider */

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked+.slider {
    background-color: #2196F3;
}

input:focus+.slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked+.slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}


/* Rounded sliders */

.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}


/* End of Custom Styles */


/* Dynamic Form */

body {
    overflow-x: scroll;
}

#body-container {
    height: 100vh;
    width: 100vw;
    background-color: #F1F1F1;
    overflow-x: hidden;
    -webkit-font-smoothing: subpixel-antialiased;
    font-family: 'Open Sans', sans-serif;
    color: #000000;
    font-size: 14px;
    font-weight: 600;
}

#form-display {
    display: flex;
    height: 100%;
    width: 100%;
    align-items: center;
    justify-content: center;
}


/* Control List */

#dynamic-form-control-list {
    width: var(--center-list-width);
    margin: 2.5% auto 0% auto;
}

#dynamic-form-control-list .dynamic-form-button {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: fit-content;
    padding: .5em 1em;
    color: #444;
    color: rgba(0, 0, 0, .8);
    border: 1px solid #999999;
    border: transparent;
    background-color: #E6E6E6;
    text-decoration: none;
    border-radius: 2px;
}

#dynamic-form-control-list .dynamic-form-button:hover {
    background-color: #d0d0d0;
    cursor: pointer;
    user-select: none;
}

#dynamic-form-control-list .dynamic-form-button:active {
    background-color: #c4c4c4;
}

#dynamic-form-control-list .form-preview-button {
    float: right;
}

.ui-dialog-titlebar-close {
    display: flex;
    justify-content: center;
    align-items: center;
}

.ui-dialog-titlebar-close i {
    font-size: 14px;
}


/* Form Preview */

.form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 25px;
    overflow: visible;
    --display-form-width: 768px;
    width: var(--display-form-width);
    --display-input-font-size: 14px;
    font-size: var(--display-input-font-size);
    --display-input-padding-height: 6px;
    --display-input-padding-width: 12px;
    background-color: #FFFFFF;
}


/* Form Display */

.custom-form-container {}

.custom-form-container .display-field {
    display: flex;
    margin-bottom: 5px;
}

.custom-form-container .display-field .display-field-combined {
    width: 100%;
}

.custom-form-container .display-field .display-field-combined pre {
    margin: auto;
}

.custom-form-container pre {
    width: fit-content;
    margin-bottom: 0;
    padding: 0;
}

.custom-form-container .display-field-label,
.custom-form-container .display-field-input {
    display: inline-flex;
    align-items: center;
    padding: 5px;
}

.custom-form-container .display-field-label {
    justify-content: flex-end;
    text-align: right;
    width: 150px;
}

.custom-form-container .display-field-label.block {
    display: block;
}

.custom-form-container .display-field-input {
    height: fit-content;
    justify-content: center;
    max-height: calc(var(--display-input-font-size) * 5 + var(--display-input-padding-height) * 2);
    max-width: calc(var(--display-form-width) / 2);
}

.custom-form-container .display-field-input.block {
    display: block;
}

.custom-form-container .display-field-input input,
.custom-form-container .display-field-input textarea {
    max-height: calc(var(--display-input-font-size) * 5 + var(--display-input-padding-height) * 2);
    max-width: calc(var(--display-form-width) / 2);
    padding: var(--display-input-padding-height) var(--display-input-padding-width);
}

.custom-form-container .input-option {
    display: flex;
}

.custom-form-container .input-option input {
    display: block;
    height: var(--display-input-font-size);
    width: var(--display-input-font-size);
}

.custom-form-container .input-option .option-label {
    margin-left: 10px;
}

.custom-form-container .hide-input {
    background-color: transparent;
    border: none;
}